<div class="row p-3">
  <div class="col-6 form-group">
    <ng-select [(ngModel)]="filteredAttributes" [multiple]="true">
      <ng-option [value]="'available'">Available</ng-option>
      <ng-option [value]="'total_cars'">Total</ng-option>
      <ng-option [value]="'sold'">Sold</ng-option>
      <ng-option [value]="'check_ins'">Checkins</ng-option>
      <ng-option [value]="'check_outs'">Checkout</ng-option>
    </ng-select>
  </div>
  <div class="col-6 form-group">
    <ng-select [multiple]="true" (change)="filterSelectedCar($event)" [(ngModel)]="selectedFilteredCars">
      <ng-option *ngFor="let carType of cars" [value]="carType.Category">{{carType.Category}}</ng-option>
    </ng-select>
  </div>
</div>
<div class="row p-3">
  <div class="col">
    <app-calendar-scheduler
      [resources]="filteredCars"
      [currentDate]="currentDate"
      [startOfCalendar]="startOfCalendar"
      [endOfCalendar]="endOfCalendar"
      [items]="items"
      [resourceFields]="resourceFields"
      [itemWidth]="135"
      [itemHeight]="160"
      [filter]="searchCtrl.value">
      <ng-template #itemTemplate let-item>
        <div class="daily-item">
          <div class="attribute-grid">
            <div *ngIf="filteredAttributes.includes('available')"
                 class="attribute-bottom-border align-items-center">
              <div class="col attribute-cell font-weight-bold">
                <div class="attribute-number">{{item?.available}}</div>
                <div class="attribute-label">
                  Available
                </div>
              </div>
            </div>
            <div *ngIf="filteredAttributes.includes('total_cars') || filteredAttributes.includes('sold')"
                 class="row attribute-bottom-border align-items-center">
              <div class="col attribute-cell attribute-border-right"
                   *ngIf="filteredAttributes.includes('total_cars')">
                <div class="attribute-number">{{item?.total}}</div>
                <div class="attribute-label">
                  Total
                </div>
              </div>
              <div class="col attribute-cell" *ngIf="filteredAttributes.includes('sold')">
                <div class="attribute-number">{{item?.sold}}</div>
                <div class="attribute-label">
                  Sold
                </div>
              </div>
            </div>
            <div class="row "
                 *ngIf="filteredAttributes.includes('check_ins') || filteredAttributes.includes('check_outs')">
              <div class=" col attribute-cell attribute-border-right"
                   *ngIf="filteredAttributes.includes('check_ins')">
                <div class="attribute-number">{{item?.check_ins}}</div>
                <div class="attribute-label">
                  Checkins
                </div>
              </div>
              <div class=" col attribute-cell" *ngIf="filteredAttributes.includes('check_outs')">
                <div class="attribute-number">{{item?.check_outs}}</div>
                <div class="attribute-label">
                  Checkout
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </app-calendar-scheduler>
  </div>
</div>


<p>See code below</p>
<ngb-accordion #acc="ngbAccordion">
  <ngb-panel title="TS FILE">
    <ng-template ngbPanelContent>
      <pre>
       <code [innerHTML]="showCodeContent"></code>
       </pre>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="HTML FILE">
    <ng-template ngbPanelContent>
        <textarea disabled rows="20" cols="20" class="w-full">
         <div class="row p-3">

</div>
<div class="row p-3">
  <div class="col">
    <app-calendar-scheduler
      [resources]="filteredCars"
      [currentDate]="currentDate"
      [startOfCalendar]="startOfCalendar"
      [endOfCalendar]="endOfCalendar"
      [items]="items"
      [resourceFields]="resourceFields"
      [itemWidth]="135"
      [itemHeight]="160"
      [filter]="searchCtrl.value">
    </app-calendar-scheduler>
  </div>
</div>
        </textarea>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="CSS FILE">
    <ng-template ngbPanelContent>
        <textarea disabled rows="20" cols="20" class="w-full">

          .search-input {
  flex: 1 0;
}

.input-search {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  //background-image: url('/assets/img/icons8-search-30.png');
  background-position: 7px 7px;
  background-repeat: no-repeat;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .50s ease-in-out;
}

.float-container {
  display: flex;
  margin-bottom: 10px;
}

input.searchbar-input.searchbar-md {
  box-shadow: none;
  border: 1px solid #c5c5c5;
  --border-radius: 13px !important;
}

.select-input {
  height: 45px;
}

.date-input {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  background: none;
}

.item-input {
  box-shadow: none;
  border: 1px solid #c5c5c5 !important;
  border-radius: 3px;
}

.mt-2 {
  margin-top: 2px;
}

::ng-deep.check.icon {
  color: #ffffff;
  position: absolute;
  margin-left: 3px;
  margin-top: 4px;
  width: 14px;
  height: 8px;
  border-bottom: solid 2px currentColor;
  border-left: solid 2px currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

::ng-deep .daily-item {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
}

.attribute-grid {
  display: flex;
  flex-flow: column;
  height: 100%;

  .attribute-bottom-border {
    border-bottom: 1px solid #c1c1c1;
  }

  .row {
    flex-grow: 1;
    align-items: center;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .attribute-cell {
    padding: 2px;
    font-weight: bold;

    &.attribute-border-right {
      border-right: 1px solid #c1c1c1;
    }

    .attribute-number {
      font-size: 18px;
      line-height: 20px;
    }

    .attribute-label {
      font-size: 10px;
      line-height: 14px;
    }
  }
}

.text-availability {
  font-size: 12px;
}

item {
  box-shadow: none;
  border: 1px solid #c5c5c5 !important;
  border-radius: 3px;
}

.mt--2 {
  margin-top: -2px
}

        </textarea>
    </ng-template>
  </ngb-panel>
</ngb-accordion>


